.nav-center{
    width: 100%;
    height: 60px;
    background: linear-gradient(270deg, #1ADD97 0.67%, #3499FF 100%);
}

.nav-items{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
   
}



.nav-cascader{
    margin-top: 24px;
    margin-left: 4px;
}


.nav-items img{
    width: 30px;
    height: 30px;
    margin-top: 22px;
    margin-left: -100px;
}



@media screen and (min-width: 576px){
    .nav-items img{
        margin-left: -310px;
    }
}

@media screen and (min-width: 768px){
    .nav-items img{
        margin-left: -490px;
    }
}

@media screen and (max-width: 991px){
    .nav-bell{
        display: none;
    }
    
}

@media screen and (min-width: 992px){
    .nav-center{
        width: 75%;
        height: 50px;
    }

    .nav-items img{
        margin-left: -370px;
        margin-top: 10px;
    }

    .nav-bell{
        margin-top: 20px;
        margin-left: -330px;
    }

    .nav-cascader{
        margin-left: 40px;
        margin-top: 15px;
    }

    
}

@media screen and (min-width: 1200px){

    .nav-center{
        width: 80%;
        height: 60px;
        background: linear-gradient(270deg, #1ADD97 0.67%, #3499FF 100%);
    }

    .nav-items img{
        margin-left: -720px;
    }

    .nav-bell{
        font-size: 20px;
        margin-top: 17px;
        margin-left: -700px;
    }

    .nav-cascader{
        margin-left: 40px;
    }
}


